APP_ENV=development
HTTP_ADDR=:8080
HTTP_READ_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=10s
HTTP_IDLE_TIMEOUT=30s
HTTP_REQUEST_TIMEOUT=30s
HTTP_READINESS_TIMEOUT=2s
HTTP_SHUTDOWN_TIMEOUT=10s
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=vpn_mvp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DEVICE_PRIVATE_KEY_CIPHER_KEY=<BASE64_32_BYTE_KEY>
PROXY_SSH_HOST=<PROXY_SSH_HOST>
PROXY_SSH_PORT=22
PROXY_SSH_USER=<PROXY_SSH_USER>
PROXY_SSH_PRIVATE_KEY_PATH=<PROXY_SSH_PRIVATE_KEY_PATH>
PROXY_SSH_KNOWN_HOSTS_PATH=<PROXY_SSH_KNOWN_HOSTS_PATH>
PROXY_SSH_INSECURE_SKIP_HOST_KEY_CHECK=false
PROXY_ADD_PEER_COMMAND=sudo /usr/local/bin/vpn-peer-add
PROXY_REMOVE_PEER_COMMAND=sudo /usr/local/bin/vpn-peer-remove
PROXY_SSH_TIMEOUT=5s
